<% @items.each do |item| %>
  <h2><%= link_to item.type_dish, item %></h2>
  <p><%= item.name %></p>
  <p><%= item.description %></p>
  <p><%= item.price %></p>
<% end %>

<div class="btn btn-link">
  <%= link_to 'new', new_item_path %>
</div>